<div class="my-3" id="<%= dom_id post %>">

  <div class="card customized-card-for-views">
    <div class="card-header d-flex align-items-center">
      <div class=" d-flex justify-content-between align-items-center" style="width: 100%">
        <div>
          <%= image_tag (post.user.profile_picture.attached? ? post.user.profile_picture : "user-pp.png"),
                        style: "border-radius: 50%; width:24px; height:24px; border: 1px solid rgba(0,0,0,0.35); padding:1px; margin-right:8px; " %> <%= post.user.username %>
        </div>
        <div>
          <div class="dropdown">
            <a href="#" class="text-dark text-decoration-none" style="font-size: 1.3rem;" role="button" data-bs-toggle="dropdown" aria-expanded="false">...</a>
            <ul class="dropdown-menu">
              <li><a href="#" class="dropdown-item">Edit</a></li>
              <li><a href="#" class="dropdown-item">Delete</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div id="carouselExampleIndicators-<%= post.id %>" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <% post.images.each_with_index do |image, index| %>
            <button type="button" class="<%= index == 0 ? 'active bg-dark' : 'bg-dark' %>"
                    <%= index == 0 ? 'aria-current="true"' : '' %> data-bs-target="#carouselExampleIndicators-<%= post.id %>" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %>"></button>

          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-<%= post.id %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-<%= post.id %>" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-inner" style="position: static">
          <div class="carousel-item active" style="height: 25rem;">
            <% if post.images.size > 0 %>
              <%= image_tag post.images.first, class: "d-block w-100", alt: "first - slide" %>
            <% end %>
          </div>
          <% post.images.each_with_index do |image, index| %>
            <% next if index == 0 %>
            <div class="carousel-item" style="height: 25rem;">
              <%= image_tag image, class: "d-block w-100", alt: "#{index} - slide" %>
            </div>
          <% end %>

        </div>
      </div>
      <div class="card-text py-2 row"><span style="margin-right: 8px; font-weight: bold; font-style: italic">
        <%= post.user.username %></span><span class="col-8 custom-two-lined-truncate"><%= post.caption %></span>
        <small class="mt-2 fst-italic" style="color: rgba(0,0,0,0.7)"><%= time_ago_in_words(post.created_at) %>
          ago</small>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between bg-white">
      <input type="text" class="w-75" style="border:none; outline: none;" placeholder="Add a comment...">
      <a href="#" class="text-primary btn btn-primary text-white fw-bold">Post</a>
    </div>
  </div>


</div>
